apiVersion: apps/v1
kind: Deployment
metadata:
  name: bot
  namespace: vpn-prod
  labels:
    app: bot
spec:
  revisionHistoryLimit: 2
  replicas: 1
  selector:
    matchLabels:
      app: bot
  template:
    metadata:
      labels:
        app: bot
    spec:
      containers:
      - name: bot
        image: ghcr.io/kelvpn/vpn4-prod:latest
        args: [ "run_bot" ]
        env:
          - name: PYTHONUNBUFFERED
            value: "1"
        envFrom:
          - secretRef:
              name: app-secrets-prod
      imagePullSecrets:
        - name: github-registry-secret
