
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    background-color: var(--html-background-color);
    margin-top: var(--tg-safe-area-inset-top);
    margin-bottom: 2em;
}


header * {
    color: white;
}

main {
    background-color: transparent;
}

#main_content {
    max-width: 30em;
    margin: 0 auto;
    padding: 0 1em;
    padding-bottom: 1em;
}


.text {
    color: var(--text-color);
}

.hint {
    color: var(--hint-color);
}

.accent_text {
    color: var(--accent-color);
}

.section_wrapper {
    margin-bottom: 1em;
}

.section {
    background-color: var(--section-background-color);
    border-radius: 10px;
    margin-top: 0.25em;
}

.section_item {
    padding: 10px 15px;
    display: grid;
    grid-gap: 0.75em;
    grid-template-columns: 1fr 18fr;
    align-items: center;
}

.items_between {
    display: flex;
    justify-content: space-between;
}

.section_text {
    height: 100%;
}

.text-end {
    text-align: end;
}

.section_header {
    margin: 0 0.75em;
    display: flex;
    justify-content: space-between;
}


.section_footer {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.destructive_text {
    color: var(--destructive-color);
}

.success_text {
    color: var(--success-color);
}

.section_item_action {
    width: 1em;
    height: 1em;
}

.separator {
    background-color: var(--separator-color);
    width: 80%;
    height: 1px;
    margin-right: 0;
    margin-left: auto;
}


.input {
    width: 100%;
    border: none;
    background-color: var(--input-background-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    color: var(--text-color);
}

.text-area {
    width: 100%;
    border: none;
    background-color: var(--input-background-color);
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
}

.button {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.destructive_button {
    background-color: var(--destructive-color);
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.cancel_button {
    background-color: var(--hint-color);
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

#loading_overflow {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--loading-overflow-background-color);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--text-color-negative);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 1.25em;
    height: 1.25em;
    border: 2px solid var(--hint-color);
    border-radius: 4px;
    background-color: var(--text-color-negative);
    cursor: pointer;
    display: inline-block;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

/* Галочка рисуется через псевдоэлемент */
input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--loading-overflow-background-color);
}

.modal_header {
    display: flex;
    justify-content: end;
}

.modal_content {
    background-color: var(--section-background-color);
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}
