.switch {
    position: relative;
    display: inline-block;
    width: 2rem;
    aspect-ratio: 2;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .3s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    transition: .3s;
    border-radius: 50%;
}

/* состояние "включено" */
.switch input:checked + .slider {
    background-color: #4f6ef7;
}

.switch input:checked + .slider::before {
    transform: translateX(100%);
}
