apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: vpn-prod
  labels:
    app: backend
spec:
  revisionHistoryLimit: 2
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
        - name: migrate
          image: ghcr.io/kelvpn/vpn4-prod:latest
          command: [ "python", "manage.py", "migrate", "--noinput" ]
          env:
            - name: PYTHONUNBUFFERED
              value: "1"
          envFrom:
            - secretRef:
                name: app-secrets-prod
      containers:
      - name: api
        image: ghcr.io/kelvpn/vpn4-prod:latest
        env:
          - name: PYTHONUNBUFFERED
            value: "1"
        envFrom:
          - secretRef:
              name: app-secrets-prod
      imagePullSecrets:
        - name: github-registry-secret
